*{
    margin: 0;
    padding: 0;
}

body {
	background-color: #D3E3FC;
}   


header{
    background-color:#00887A;
    display: flex;
    justify-content: left;
}


header #header-menu{
    list-style: none;
    padding: 1%;
    display: flex;
    gap: 10%;
}


header #header-menu li > a{
    text-decoration: none;
    color: white;
    transition: all 1s;
}




footer{
    background-color:#00887A;
    display: flex;
    justify-content: left;
}

footer #social{
    list-style: none;
    padding: 1%;
    display: flex;
    gap: 30%;

}

footer #social li > a{
    text-decoration: none;
    color: Black;
    transition: all 1s;
}



.cont{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}


#cardsDiv{
    display: flex;
width: 55%;
margin-top: 20px;
flex-wrap: nowrap;



}
#cardsDiv> div{
border: 1px solid;
border-radius: 6px;
background-color:#FFCCBC;
width: 50%;
margin-left: 5px;
padding: 10px;
}
p{
    font-size: medium;
    margin: 0;
color: black;}



@media screen and (max-width:1115px) {
#cardsDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    }
    #card-container > div{
        width: 30%;
    }
}
